/* Copyright 2015 Adrien Ragot - See LICENSE.txt */
.playsql-form-macro .buttons a.aui-button{
    color: #333;
}

.playsql-form-macro .buttons a.aui-button.aui-button-primary{
    color: #fff;
}

.playsql-form-macro .invalid input {
    color: #d04437;
    background-color: rgba(208, 68, 55, 0.17);
}

.playsql-form-macro .buttons .aui-button.playsql-disabled {
    color: #999;
    cursor: default;
    text-shadow: none;
    text-decoration: none;
}
.playsql-form-macro .buttons .aui-button.playsql-disabled:hover {
    border-color: #ccc;
}
.playsql-form-macro .buttons .aui-button.playsql-disabled:active {
    background: #f2f2f2;
    background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background: linear-gradient(top, #fff 0%, #f2f2f2 100%);
    border-color: #ccc;
}

.playsql-form-macro .field-size-small input,
.playsql-form-macro .field-size-small textarea,
.playsql-form-macro .field-size-small div[contenteditable] {
    width: 167px;
}
.playsql-form-macro .field-size-medium input,
.playsql-form-macro .field-size-medium textarea,
.playsql-form-macro .field-size-medium div[contenteditable] {
    width: 280px;
}
.playsql-form-macro .field-size-large input,
.playsql-form-macro .field-size-large textarea,
.playsql-form-macro .field-size-large div[contenteditable] {
    width: 420px;
}

.playsql-form-macro form.aui .text {
    max-width: none;
}

.playsql-form-field.numeric-renderer.editing {
    text-align: inherit;
}
.playsql-form-field.numeric-renderer input {
    text-align: right;
}

/** RTE */
#macro-param-div-spreadsheetName {
    display: none;
}

/** Browser toolbar */
.browser-toolbar {
    background-color: #f0f0f0;
    padding: 0 9px 10px 9px;
    border: 1px solid #CCC;
}
.browser-toolbar input {
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 5px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.browser-toolbar .recordId {
    margin-left: 2px;
}
.browser-toolbar .aui-toolbar2-primary {
    margin-top: 9px;
}
.browser-toolbar .aui-toolbar2-secondary {
    margin-top: 9px;
}

.browser-toolbar a.disabled {
    color: #777;
    cursor: default;
    text-decoration: initial;
}

/** Browser - Card Layout */
.card-layout {
    border: 1px solid #CCC;
}

.card-layout .browser-toolbar {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.card-layout .form-template {
    margin: 10px;
}

/* The user/page picker is truncated in tables because of the overflow */
.playsql-form-macro table, .playsql-form-macro .table-wrap {
    overflow-x: initial;
}

/*
.card-layout .form-template .table-wrap:only-child {
    collapse borders
    margin: -11px;
    width: 100%;
}*/

.playsql-form-field.card-layout {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #f0f0f0;
}

/** Panel **/
.playsql-form-panel {
    margin-top: 10px;
}

.playsql-form-panel.card-layout .title {
    background-color: #f0f0f0;
    padding: 10px 9px 10px 9px;

}

.playsql-form-panel.card-layout .contents, .playsql-form-panel.card-layout .message {
    padding: 10px;
    border-top: 1px solid #CCC;
}

.playsql-form-panel .contents {
    display:block;
}

.playsql-form-panel .message {
    display:none;
    color: #777;
}

.playsql-form-panel.disabled .contents {
    display:none;
}

.playsql-form-panel.disabled .message {
    display:block;
}